:root {
    --accent: #f5c451;
}
color: var(--accent);

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    min-height: 100vh;

    background: #121212;

    color: #ffffff;

    font-family: Arial, sans-serif;
}
/* 
Navlink styles
*/
.page {
    display: none;

    padding: 45px;
}

.page.active {
    display: block;
}


.portfolio {
    width: min(1400px, 95%);

    margin: 30px auto;

    display: grid;

    grid-template-columns: 330px 1fr;

    gap: 30px;
}

.sidebar {
    background: #1d1d1d;

    border: 1px solid #333;

    border-radius: 25px;

    padding: 40px 35px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 180px;
    height: 180px;

    object-fit: cover;

    border-radius: 30px;
}

.profile h1 {
    margin: 25px 0 15px;

    font-size: 30px;
}

.profile p {
    display: inline-block;

    margin: 0;

    padding: 10px 22px;

    background: #303030;

    border-radius: 10px;

    color: #ddd;
}
.main-content {
    background: #1d1d1d;

    border: 1px solid #333;

    border-radius: 25px;

    overflow: hidden;
}

.navbar {
    display: flex;

    justify-content: flex-end;

    gap: 40px;

    padding: 25px 40px;

    background: #252525;

    border-bottom: 1px solid #333;
}

.nav-link {
    border: none;

    background: transparent;

    color: #ddd;

    font-size: 17px;

    cursor: pointer;
}

.nav-link.active {
    color: var(--accent);
}
/*
Cards
*/
.services {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 25px;
}

.service-card {
    background: #222;

    border: 1px solid #333;

    border-radius: 20px;

    padding: 30px;

    display: flex;

    gap: 20px;
}
/*
TESTIMONIALS
*/
.testimonials-section {
    margin-top: 60px;
}

.section-title {
    font-size: 32px;
    margin: 0 0 70px;
}

.testimonials-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 35px;
}

.testimonial-card {
    position: relative;

    background: #222222;

    border: 1px solid #333333;

    border-radius: 20px;

    padding: 35px;

    min-height: 175px;

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.testimonial-avatar {
    position: absolute;

    top: -40px;
    left: 35px;

    width: 100px;
    height: 100px;

    object-fit: cover;

    border-radius: 25px;

    background: #333333;

    border: 1px solid #444444;
}

.testimonial-header {
    display: flex;

    align-items: center;

    min-height: 45px;

    margin-bottom: 25px;
}

.testimonial-header h4 {
    margin: 0 0 0 120px;

    font-size: 22px;

    color: #ffffff;
}

.testimonial-text {
    margin: 0;

    color: #cccccc;

    font-size: 17px;

    line-height: 1.7;
}

.testimonial-pagination {
    width: 65%;

    height: 6px;

    background: #303030;

    border-radius: 10px;

    margin: 45px auto 50px;

    overflow: hidden;
}
.pagination-progress {
    display: block;

    width: 50%;

    height: 100%;

    background: var(--accent);

    border-radius: 10px;
}
